{% extends '../base.html' %}


{% block content %}
<h2 class="text-center">Registration</h2>
<div class="col-md-6 offset-md-3">
    <form method="POST" action="/student_img/" , enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            <p>You Got Some Errors</p>
            {% for field in form %}
            {% if field.errors %}
            {{field.errors}}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        <div class="col-md-6 ">

            <div class="form-group">
                <label for="exampleInputEmail1">Image</label>
                <input type="file" class="form-control" name="student_image" placeholder="Enter Name" id="student_image"
                    required accept="image/*">
            </div>


            <div>
                <center><button type="submit" class="btn btn-secondary">Register</button>
                </center>
            </div>

        </div>


    </form>
</div>
{% endblock content %}